.card {
  background-image: linear-gradient(
    -225deg,
    #a445b2 0%,
    #d41872 52%,
    #ff0066 100%
  );
  color: rgb(245, 255, 255);
  height: 800px;
  margin-top: 35px;
  padding-top: 40px;
  padding-bottom: 60px;
  width: 50%;
}
h1 {
  font-size: medium;
  text-align: center;
}
h2 {
  bottom: 30px;
  font-size: 38px;
  position: relative;
  right: 5px;
  text-align: center;
}

.emoji {
  font-size: 3em;
  height: 1rem;
  position: relative;
  top: -20px;
}
small {
  display: block;
  font-weight: normal;
}
.data {
  position: relative;
  right: 5px;
  top: 110px;
}
#temp {
  text-align: center;
}
.description {
  text-align: center;
}
.description::first-letter {
  text-transform: uppercase;
}
.row.temperature {
  bottom: 230px;
  font-size: 18px;
  left: 340px;
  position: relative;
}
.lines {
  border-top: 3px dotted rgb(153, 224, 246);
}
.lines.second {
  position: relative;
  top: 10px;
}
.lines.last {
  bottom: 110px;
  position: relative;
}
.days {
  bottom: 100px;
  font-size: 18px;
  left: 12px;
  position: relative;
}
.days-emoji {
  font-size: 38px;
  position: relative;
  top: 30px;
}
.days-temp {
  position: relative;
  right: 8px;
  top: 60px;
}
.units .active {
  color: rgb(245, 255, 255);
  cursor: default;
}
.units .active:hover {
  text-decoration: none;
}
.units {
  color: yellowgreen;
  font-size: 15px;
  position: relative;
  top: -10px;
}

.degree {
  position: relative;
  top: -8px;
}
.vl {
  border-left: 2px solid rgba(208, 233, 220, 0.637);
  height: 170px;
  position: relative;
  right: 15px;
}
